@mixin btn-style ($background, $color) {
  background: $background;
  color: $color;
}

.btn {
  padding: 5px 30px;
  border-radius: 50px;

  &.btn-orange {
    @include btn-style($color-primary, $color-white);
  }
}