header section {
  justify-content: space-between;
  align-items: center;
}

header section nav ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

header section nav ul li {
  margin: 0 15px;
}

header section nav ul li a {
  color: #39c;
}