.content-with-image {
  align-items: center;
  justify-content: space-between;
}

.content-with-image article {
  width: 250px;
}

.content-with-image article h1 {
  color: #336;
  font-size: 70px;
  font-weight: 500;
  line-height: 90%;
}

.content-with-image article h2,
.content-with-image article p {
  color: #39c;
}

.content-with-image article h2 {
  font-size: 30px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-top: 10px;
}

.content-with-image article p {
  margin: 20px 0 40px 0;
}